html{
    position: relative;
}

body{
    margin-top   : 30px;
    margin-bottom: 200px;
}

.navbar-default{
    background-color: rgb(241, 119, 241);
    border          : 0;
}

.navbar-default .navbar-brand {
    color: rgb(255, 255, 255);
}

.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}

.jumbotron img{
    width : 200px;
    border: 5px solid rgba(106, 255, 163, 0.1);
}

.bg-img {
    position  : relative;
    width     : 100%;
    height    : 100%;
    background: linear-gradient(to bottom right, 
    rgba(255, 44, 255, 0.6), rgba(62, 155, 241, 0.6),
    rgba(16, 253, 134, 0.678),  rgba(106, 255, 163, 0.6)), url('../img/mengetik.png') center center no-repeat;
}

hr{
    width     : 350px;
    border-top: 4px solid #999;
}

section{
    min-height: 600px;
}

.portfolio{
    color: rgb(85, 71, 71);
}

.contact{
    min-height: 800px;
}

footer{
    position   : absolute;
    bottom     : 0;
    width      : 100%;
    height     : 200px;
    background : rgba(226, 65, 226, 0.6);
    padding-top: 30px;
    color      : #000;
}

footer p{    
    color    : #000;
    font-size: 1em;
}